{{ left_sidebar_enabled = True }}
{{ right_sidebar_enabled = True }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<div class="section" id="dariah">
<p><img src="{{=URL('static', 'images/inkind_logo.png')}}" width="50%" align="right"/></p>
<h4>What is the DARIAH contribution tool?</h4>
<p>This is a <a href="{{=URL('contrib', 'index')}}">system to assess the tools that have been contributed to the DARIAH infrastructure</a> by its national members.
These tools constitute the in-kind contributions of the member states to the European DARIAH ERIC.
The purpose of the assessment is to establish the quality and value of the contributed tools.
It is important to know how much effort has gone into the creation, maintenance and delivery of the tool.
But also the satisfaction of the parties that use the tool are an important indicator of the value of the tool.</p>
</div>

<div class="section" id="get_started">
<h4>Browse Contributions</h4>
<p>The first step is to know what contributions are there, to oversee the landscape of contributions.</p>
</div>

<div class="section" id="next_step">
<h4>Enter assessments</h4>
<p>If you have contributed a tool, you start with writing a self-assessment.
This application will guide you through the relevant questions, depending on the type of your contribution.</p>
</div>

<div class="section" id="advanced">
<h4>Review assessments</h4>
<p>If you are a national coordinator or a delegate, you can review assessments, and add comments, and ultimately, assign a level.</p> 
</div>

<div class="section" id="expert">
<h4>Engage in data analysis</h4>
<p>This tool will contain valuable information for policy makers in science and education.
Here are your opportunities to mine that information, analyse it and visualize it.</p>
</div>

<div class="section" id="contact">
<h4>Contact</h4>
<p>Mail: <a href="mailto:dirk.roorda@dans.knaw.nl">dirk.roorda@dans.knaw.nl</a></p>
</div>

{{block right_sidebar}}
<div id="relapps">
<h5>Companion tools in DARIAH</h5>
<div class="reltool">
<a class="ctrll" href="http://teresah.dasish.eu" target="_blank">TERESAH registry<img src="{{=URL('static', 'images/teresah_logo.png')}}"/></a>. 
<p><b>For researchers</b>.</p>
<p>Explore the tools that digital humanists work with.</p>
</div>
</div>
{{end}}

{{block left_sidebar}}
<div id="sections">
<dl>

<dt class="exp"><a href="#" class="sectionc" tid="dariah">What is a Contribution?</a></dt>
<dd class="exp"><p><b>DARIAH Contribution Assessment Tool</b></p></dd>
<hr/>

<dt class="exp"><a href="#" class="sectionc" tid="get_started">Get started</a></dt>
<dd class="exp"><p>Browse Contributions</p></dd>
<hr/>

<dt class="exp"><a href="#" class="sectionc" tid="next_step">Next step</a></dt>
<dd class="exp"><p>Enter assessments</p></dd>
<hr/>

<dt class="exp"><a href="#" class="sectionc" tid="advanced">Advanced</a></dt>
<dd class="exp"><p>Review assessments</p></dd>
<hr/>

<dt class="exp"><a href="#" class="sectionc" tid="expert">Expert</a></dt>
<dd class="exp"><p>Engage in data analysis</p></dd>
<hr/>

<dt class="exp"><a href="#" class="sectionc" tid="contact">Contact</a></dt>
<dd class="exp"><p><a href="mailto:dirk.roorda@dans.knaw.nl">dirk.roorda@dans.knaw.nl</a></p></dd>
<hr/>

</dl>
</div>

{{end}}

<script type="text/javascript">
var Request = {
    parameter: function(name) {
        return this.parameters()[name]
    },
    parameters: function(uri) {
        var i, parameter, params, query, result;
        result = {};
        if (!uri) {
            uri = window.location.search;
        }
        if (uri.indexOf("?") === -1) {
            return {};
        }
        query = uri.slice(1);
        params = query.split("&");
        i = 0;
        while (i < params.length) {
            parameter = params[i].split("=");
            result[parameter[0]] = parameter[1];
            i++;
        }
        return result;
    }
}

function sections_init() {
    var gotosection = Request.parameter('goto');
    $('a[tid="dariah"]').click()
    $('a[tid="'+gotosection+'"]').click()
}

var detailcontrols = '<a class="showc fa fa-chevron-right" href="#" title="Show details"></a><a class="hidec fa fa-chevron-down" href="#" title="Hide details"></a>'
$('dt.exp').each(function() {
    var orig = $(this).html()
    $(this).html(detailcontrols+'&nbsp;'+orig)
})
$('dd.exp').show()
$('.hidec').show()
$('.showc').hide()
$('.hidec').click(function(e) {e.preventDefault();
    var dt = $(this).closest('dt')
    var dd = dt.next()
    dd.hide()
    dt.find('.hidec').hide()
    dt.find('.showc').show()
})
$('.showc').click(function(e) {e.preventDefault();
    var dt = $(this).closest('dt')
    var dd = dt.next()
    dd.show()
    dt.find('.hidec').show()
    dt.find('.showc').hide()
})
$('div.section').hide()
$('.sectionc').click(function(e) {e.preventDefault();
    $('dt.exp').removeClass('thl')
    $(this).closest('dt').addClass('thl')
    $('div.section').hide()
    $('#'+$(this).attr('tid')).show()
})
$(function () {
    var subtract = 150
    standard_height = window.innerHeight - subtract
    var canvas_middle = $('.span9')
    var canvas_right = $('#relapps')
    var canvas_left = $('#sections')
    canvas_middle.css('overflow', 'auto')
    canvas_middle.css('height', standard_height+'px')
    canvas_right.css('overflow', 'auto')
    canvas_right.css('height', standard_height+'px')
    canvas_left.css('overflow', 'auto')
    canvas_left.css('height', standard_height+'px')
    sections_init()
    $('.hidec')[0].click()
})
</script>
