$action-back: #ffffff;
$action-high: #ffffcc;
$action-error-back: #ffdddd;
$action-error-fore: #aa0000;
$action-fore: #0000aa;
$action-border: #ffffdd;
$action-text: #000000;
$focus-text: #0000aa;
$focus-back: #ffffee;

@mixin action() {
    color: $action-fore;
    cursor: pointer;
}
@mixin actiontextdirty() {
    color: $action-text;
    background-color: $action-high;
    font-size: large;
    font-family: monospace;
}
@mixin actiontextinvalid() {
    color: $action-error-fore;
    background-color: $action-error-back;
    font-size: large;
    font-family: monospace;
}
@mixin actiontext() {
    color: $action-text;
    background-color: $action-back;
    font-size: large;
    font-family: monospace;
}

@mixin focustext() {
    color: $focus-text;
    background-color: $focus-back;
    font-size: large;
    font-family: monospace;
}

.button-large,.button-medium,.button-small  {
    @include action();
    background-color: $action-back;
    border-color: $action-border;
    white-space: nowrap;
}
.button-large { @include sizing(medium, 6px, 2) }
.button-medium { @include sizing(medium, 4px, 1) }
.button-small { @include sizing(small, 2px, 0 ) }

.link {
    @include action();
}
