.button-large,.button-medium,.button-small  {
    color: var(--action-fore);
    cursor: pointer;
    background-color: var(--action-back);
    border-color: var(--action-border);
    white-space: nowrap;
}
.button-large.disabled,.button-medium.disabled,.button-small.disabled  {
    cursor: default;
    background-color: var(--action-disabled-back);
}
.button-large.invert,.button-medium.invert,.button-small.invert  {
    color: var(--action-fore);
    cursor: pointer;
    font-weight: bold;
    color: var(--action-invert-fore);
    background-color: var(--action-invert-back);
    border-color: var(--action-border);
    white-space: nowrap;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    display: inline-block;
}
.button-large, .button-large.invert {
    --size: medium;
    --radius: 0.5rem;
    --border: 2px;
    font-size: var(--size);
    border-radius: var(--radius);
    border-style: solid;
    border-width: var(--border);
    padding-top: calc(var(--radius) * 0.4);
    padding-bottom: calc(var(--radius) * 0.4);
    padding-left: calc(var(--radius) * 1.2);
    padding-right: calc(var(--radius) * 1.2);
}
.button-medium, .button-medium.invert {
    --size: medium;
    --radius: 0.4rem;
    --border: 1px;
    font-size: var(--size);
    border-radius: var(--radius);
    border-style: solid;
    border-width: var(--border);
    padding-top: calc(var(--radius) * 0.4);
    padding-bottom: calc(var(--radius) * 0.4);
    padding-left: calc(var(--radius) * 1.2);
    padding-right: calc(var(--radius) * 1.2);
}
.button-small, .button-small.invert {
    --size: small;
    --radius: 0.3rem;
    --border: 0;
    font-size: var(--size);
    border-radius: var(--radius);
    border-style: solid;
    border-width: var(--border);
    padding-top: calc(var(--radius) * 0.4);
    padding-bottom: calc(var(--radius) * 0.4);
    padding-left: calc(var(--radius) * 1.2);
    padding-right: calc(var(--radius) * 1.2);
}

.link {
    color: var(--action-fore);
    cursor: pointer;
}
