/* CONTRIB LAYOUT */

pre.md-source {
    font-size: medium;
    color: $action-text;
    white-space: pre-wrap;
}

.label {
    font-weight: bold;
    color: $widget-fixed-fore;
    background-color: $widget-fixed-back;
}
div.item {
    background-color: $widget-fixed-back;
    border: 1px solid $widget-border;
    border-radius: 12px;
    padding: 0 0.5em 0 0.5em;
}
div.readonly .value {
    color: $widget-varia-fore;
    background-color: $widget-varia-back;
    border-radius: 5px;
    padding: 0 0.5em 0 0.5em;
}
div.editable .value {
    color: $action-fore;
    background-color: $action-back;
}
div.editable textarea.value {
    color: $action-text;
    width: 100%;
    font-size: large;
    font-family: monospace;
}
div.editable input.value {
    color: $action-text;
    font-size: large;
    font-family: monospace;
}
.reason {
    vertical-align: top;
    background-color: $invalid-back;
}
div.editable .invalid {
    color: $action-text;
    background-color: $invalid-back;
}
div.editable .value.rel.invalid {
    color: $action-text;
    background-color: $invalid-back;
}
.absent {
    line-height: 1.8;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}
div.readonly .absent {
    color: $widget-high-fore;
    background-color: $widget-high-back;
}
div.readonly .value.rel {
    color: $widget-varia-fore;
    background-color: $widget-varia-back;
    border: 1px solid $widget-border;
    font-family: sans-serif;
}
div.editable .value.rel {
    color: $action-fore;
    background-color: $action-back;
    border: 1px solid $action-border;
    font-family: sans-serif;
}
.value.url {
    text-decoration: underline;
}
.value.email {
    text-decoration: underline;
}
.value.rel {
    line-height: 1.8;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    white-space: nowrap;
}
.progress {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
div.editable .progress.invalid, .invalid {
    color: $invalid-fore;
}
div.editable .progress.changed, .changed {
    color: $changed-fore;
}
div.editable .progress.saved, .saved {
    color: $saved-fore;
}
div.editable .progress.error, .error {
    color: $error-fore;
}
div.editable .progress {
    color: $progress-neutral;
}
div.readonly .progress {
    color: $progress-neutral;
}
div.select {
    display: inline-block;
}
div.options {
    height: 6em;
    overflow: auto;
    resize: both;
    border: 1px solid $action-border;
    border-radius: 3px;
    background-color: $action-back;
    clear: both;
}
p.option.value.rel {
    background-color: $action-high;
}
p.option-type, p.option-head, p.option {
    margin: 0 0 0 0;
    padding: 1 3 1 3;
}
p.option {
    cursor: pointer;
}
p.option-type input {
    margin: 0 0 0 0;
    padding: 1 3 1 3;
    border-radius: 3px;
}
.save.dirty {
    font-weight: normal;
    text-decoration: none;
    border-radius: 6pt;
    padding-right: 1em;
    padding-left: 1em;
}
.save.dirty.valid,.savei.dirty.valid {
    background-color: $changed-fore;
}
.save.dirty.invalid,.savei.dirty.invalid {
    background-color: $invalid-back;
}
.save.clean {
    font-weight: normal;
    text-decoration: none;
    border-radius: 6pt;
    padding-right: 1em;
    padding-left: 1em;
}
.save.clean.valid,.savei.clean.valid {
    background-color: $widget-varia-back;
}
.save.clean.invalid,.savei.clean.invalid {
    background-color: $invalid-back;
}
.savei.dirty {
    font-weight: normal;
    text-decoration: none;
    border-radius: 6pt;
    padding-right: 0.5ex;
    padding-left: 0.5ex;
}
.savei.clean {
    font-weight: normal;
    text-decoration: none;
    border-radius: 6pt;
}

.msg-info {
    color: $widget-varia-fore;
}
.msg-error {
    color: $error-fore;
    font-weight: bold;
}
.msg-warning {
    color: $warning-fore;
    font-weight: bold;
}
.msg-good {
    color: $good-fore;
    font-weight: bold;
}
.msg-special {
    font-weight: bold;
}
.msg-line {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.msg-trash {
    padding-top: 2;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: medium;
    float: left;
}
.msg-dismiss {
    padding-top: 2;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-size: x-small;
    float: right;
}
.msg-box {
    position: fixed;
    top: 40;
    right: 10;
    width: 200;
    height: 100;
    overflow: auto;
    padding-left: 10;
    padding-right: 10;
    z-index: 2000;
    opacity: 0.9;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eeeeee;
    border: 2px solid #aaaaaa;
    border-radius: 8;
    font-size: small;
}
.msg-spinner {
    position: fixed;
    top: 0.05em;
    right: 1em;
    width: 5em;
    height: 2em;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
    z-index: 2000;
    opacity: 0.9;
    vertical-align: middle;
    cursor: pointer;
}
.msg-dot {
    font-size: small;
}

