.tag.option.inactive, .tag.inactive, .inactive {
    color: #000000;
    background-color: #ffcc88;
}
.tag.option.inactive.disabled, .tag.inactive.disabled, .inactive.disabled {
    color: #ffffff;
    background-color: #dd0000;
}

.isactive {
    background-color: #ccffcc;
}

.ass-score {
    color: #448800;
    background-color: #ffffff;
    font-size: xx-large;
    float: left;
}
.ass-score-deriv {
    color: #448800;
    background-color: #ffffff;
    font-size: medium;
}
