.dirty {
    color: var(--edit-dirty-fore);
    background-color: var(--edit-dirty-back);
}
.invalid {
    color: var(--edit-invalid-fore);
    background-color: var(--edit-invalid-back);
}
.invalid.diag {
    color: var(--edit-invalid-diag-fore);
    background-color: var(--edit-invalid-diag-back);
    font-size: small;
    display: block;
    padding: 0.5rem;
}
input {
    color: var(--action-fore);
    background-color: var(--action-back);
    border: 0;
    padding: 0.2rem;
}
input[type="text"],textarea {
    color: var(--edit-text-fore);
    background-color: var(--edit-text-back);
    outline: 2px inset var(--edit-text-border);
    border: 0;
    font-size: large;
    font-family: monospace;
}
input[type="text"] {
    width: calc(100% - 1rem);
    margin: 0.3rem 0.3rem;
}
textarea {
    width: calc(100% - 1rem);
    height: 10rem;
    margin: 0.3rem 0.3rem;
}
input[type="text"]:focus, textarea:focus {
    color: var(--edit-focus-text);
    background-color: var(--edit-focus-back);
    outline: 4px inset var(--edit-focus-border);
    border: 0;
}
input.dirty, input.dirty:focus, textarea.dirty, textarea.dirty:focus {
    color: var(--edit-dirty-fore);
    background-color: var(--edit-dirty-back);
    outline: 4px dashed var(--edit-dirty-border);
}
input.invalid, input.invalid:focus, .input invalid, textarea.invalid, textarea.invalid:focus {
    color: var(--edit-invalid-fore);
    background-color: var(--edit-invalid-back);
    outline: 4px dashed var(--edit-invalid-border);
}

/* edit status */
.edit-action {
    color: var(--action-fore);
    cursor: pointer;
    --size: medium;
    --radius: 0.5rem;
    --border: 2px;
    font-size: var(--size);
    border-radius: var(--radius);
    border-style: solid;
    border-width: var(--border);
    padding-top: calc(var(--radius) * 0.4);
    padding-bottom: calc(var(--radius) * 0.4);
    padding-left: calc(var(--radius) * 1.2);
    padding-right: calc(var(--radius) * 1.2);
    background-color: var(--warning-back);
}
.edit-action-small {
    color: var(--action-fore);
    cursor: pointer;
    --size: small;
    --radius: 0.4rem;
    --border: 1px;
    font-size: var(--size);
    border-radius: var(--radius);
    border-style: solid;
    border-width: var(--border);
    padding-top: calc(var(--radius) * 0.4);
    padding-bottom: calc(var(--radius) * 0.4);
    padding-left: calc(var(--radius) * 1.2);
    padding-right: calc(var(--radius) * 1.2);
    background-color: var(--warning-back);
}
.reset-action {
    color: var(--action-fore);
    cursor: pointer;
    --size: medium;
    --radius: 0.3rem;
    --border: 2px;
    font-size: var(--size);
    border-radius: var(--radius);
    border-style: solid;
    border-width: var(--border);
    padding-top: calc(var(--radius) * 0.4);
    padding-bottom: calc(var(--radius) * 0.4);
    padding-left: calc(var(--radius) * 1.2);
    padding-right: calc(var(--radius) * 1.2);
    color: var(--error-fore);
}
.reset-action-small {
    color: var(--action-fore);
    cursor: pointer;
    --size: medium;
    --radius: 3;
    --border: 1px;
    font-size: var(--size);
    border-radius: var(--radius);
    border-style: solid;
    border-width: var(--border);
    padding-top: calc(var(--radius) * 0.4);
    padding-bottom: calc(var(--radius) * 0.4);
    padding-left: calc(var(--radius) * 1.2);
    padding-right: calc(var(--radius) * 1.2);
    color: var(--error-fore);
}
.edit-noaction {
    background-color: var(--warning-back);
}

/* values */

.values {
    line-height: 1.5;
}

.left {
}
.right {
    float: right;
}
.multi-field {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: top;
    align-content: flex-start;
}
.multi-field.textarea {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: top;
    align-content: flex-start;
}
.multi-content {
    width: 100%;
    overflow: visible;
    display: inline-flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    align-items: flex-start;
    /*-webkit-overflow-scrolling: touch;*/
}
.textarea .multi-content {
    width: calc(100% - 1rem);
    padding: 0 0 0 1rem;
    overflow: visible;
    /*-webkit-overflow-scrolling: touch;*/
}
.wideInput {
    width: 100%;
}
.md-field {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}
.field-content {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.field-control {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.fragments {
    width: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
}
div.detail-control {
    flex: 1 1 1rem;
}
.label-col {
    text-align: right;
    padding: 0.2rem 0.2rem 0.2rem 0.1rem;
    background-color: var(--widget-fixed-back); 
    flex: 0 0 10rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.label-col.edit {
    background-color: var(--widget-fixed-edit-back); 
}
.list-title {
    text-align: left;
    padding: 0.2rem;
    background-color: var(--widget-fixed-back); 
    font-weight: bold;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.label-col-grid {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    background-color: var(--widget-fixed-back); 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    font-size: small;
}
.value-col {
    text-align: left;
    padding: 0.2rem 0.1rem 0.2rem 0.2rem;
    background-color: var(--value-back); 
    flex: 1 1 auto;
    overflow: visible;
    /*-webkit-overflow-scrolling: touch;*/
}
.value-col-grid {
    text-align: left;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    border-bottom: 2px solid var(--value-border); 
    background-color: var(--value-back);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.value-col-grid.edit {
    background-color: var(--value-edit-back);
}
.delete {
    float: right;
}

div.edit-help {
    color: var(--edit-help-fore);
    background-color: var(--edit-help-back);
    border-radius: 1rem;
    display: flex;
    flex-flow: row  wrap;
    justify-content: flex-start;
    font-size: small;
}
div.help-item {
    color: var(--edit-help-fore);
    background-color: var(--edit-help-item-back);
    border: 0;
    border-radius: 0.2rem;
    flex: 0 1 auto;
    padding: 0.1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.help-code {
    color: var(--edit-help-code-fore);
    font-weight: bold;
    font-size: large;
    font-family: monospace;
}
.mdh1 {
    font-weight: bold;
    font-size: 120%;
}
.mdh2 {
    font-weight: bold;
    font-size: 110%;
}
