.dirty {
    background-color: #ffff88;
}
.invalid {
    color: #aa0000;
    background-color: #ffdddd;
}
.invalid.diag {
    color: #ffffff;
    background-color: #dd0000;
    font-size: small;
    display: block;
    padding: 1ex;
}
input {
    @include actiontext();
    border: 0;
}
input[type="text"] {
    width: 95%;
    max-width: 95%;
}
input.dirty {
    @include actiontextdirty();
}
input.invalid {
    @include actiontextinvalid();
}
textarea {
    @include actiontext();
    width: 100%;
    height: 10em;
    border: 0;
}
textarea.dirty {
    @include actiontextdirty();
}
textarea.invalid {
    @include actiontextinvalid();
}

.reason {
    vertical-align: top;
    color: $error-fore;
    background-color: $error-back;
}
.input.invalid {
    color: $action-text;
    background-color: $error-back;
}

/* edit status */
.edit-action {
    @include action();
    @include sizing(medium, 6px, 2)
    background-color: $warning-back;
}
.edit-action-small {
    @include action();
    @include sizing(small, 3px, 1)
    background-color: $warning-back;
}
.reset-action {
    @include action();
    @include sizing(medium, 6px, 2)
    color: $error-fore;
}
.reset-action-small {
    @include action();
    @include sizing(small, 3px, 1)
    color: $error-fore;
}
.edit-noaction {
    background-color: $warning-back;
}

/* values */

.values {
    line-height: 1.5;
}

.left {
}
.right {
    float: right;
}
.stick {
    /*
    float: left;
    overflow: visible;
    position: relative;
    width: 0em;
    height: 0em;
    top: -2em;
    left: -1em;
    */
}
.multi-field {
    margin-left: 0em;
    padding-left: 0em;
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-start;
}
.md-field {
    margin-left: 0em;
    padding-left: 0em;
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
}
.multi-content {
    padding: 0 0 0 1em;
    flex-basis: 40%;
    flex-shrink: 2;
    flex-grow: 1;
    overflow: auto;
}
.multi-control {
    padding: 0 0 0 0;
    flex-basis: 2em;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: auto;
}
.field-content {
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 0;
    overflow: auto;
}
.field-control {
    flex-basis: 2em;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: auto;
}
.fragments {
    width: 100%;
    max-width: 100%;
}
.labelCol {
    text-align: right;
    padding: 0.2em 0.2em 0.2em 0.1em;
    background-color: $widget-fixed-back; 
    flex-basis: 10em;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: auto;
}
.listTitle {
    text-align: left;
    padding: 0.2em;
    background-color: $widget-fixed-back; 
    font-weight: bold;
    overflow: auto;
}
.labelColGrid {
    text-align: center;
    padding: 0.2em 0.2em 0.2em 0.2em;
    background-color: $widget-fixed-back; 
    overflow: auto;
    font-size: small;
}
.valueCol {
    text-align: left;
    padding: 0.2em 0.1em 0.2em 0.2em;
    background-color: #fafafa; 
    flex-basis: 20em;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
}
.valueColGrid {
    text-align: left;
    padding: 0.1em 0.1em 0.1em 0.1em;
    border-bottom: 2px solid #dddddd; 
    background-color: #fafafa; 
    overflow: auto;
}
.valueColGrid.editable {
    background-color: #fafaff;
}
.delete {
    float: right;
}
