div.facet {
    margin-top: 0.3em;
    margin-bottom: 0.1em;
    border: 1px solid $widget-border;
    border-radius: 6px;
    color: $widget-fixed-fore;
    background-color: $widget-fixed-back;
}
p.facet {
    margin-top: 0.05em;
    margin-bottom: 0.05em;
    font-size: small;
    font-weight: bold;
}
td.facet {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: small;
    -webkit-border-vertical-spacing: 0;
}
td.facet.mid {
    padding-left: 0.5em;
}
input.facet {
    @include action();
    margin: 0;
    padding: 0;
}

input.search {
    font-size: large;
    font-family: Roboto Mono, monospace;
    color: $action-fore;
    background-color: $action-back;
}
td.statistic {
  text-align: right;
  padding-left: 0.5em;
  font-size: small;
}


