/* generic functions */

@mixin sizing($size, $radius, $border) {
    font-size: $size;
    border-radius: $radius;
    border-style: solid;
    border-width: $border;
    padding-top: $radius * 0.4;
    padding-bottom: $radius * 0.4;
    padding-left: $radius * 1.2;
    padding-right: $radius * 1.2;
}
@mixin sizing2($size, $hor, $ver, $border) {
    font-size: $size;
    border-style: solid;
    border-width: $border;
    padding-top: $hor;
    padding-bottom: $hor;
    padding-left: $ver;
    padding-right: $ver;
}

@mixin sized() {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

