.grid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.grid-head {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
}

.grid-row {
    display: inline-flex;
    margin-bottom: 0.1em;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}
.grid-row.form {
    display: inline-flex;
    margin-bottom: 0.1em;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}
.grid-cell {
}
.grid-head-cell {
    font-weight: bold;
}
.grid-status-cell {
    flex-basis: 3em;
    flex-grow: 0;
    flex-shrink: 0;
}
.listGeneric {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: auto;
}
.listHeadCol {
    display: inline-flex;
    flex-flow: column nowrap;
    flex-basis: 15em;
    flex-shrink: 1;
    flex-grow: 0.5;
    overflow: auto;
}
.listFormCol {
    flex-flow: column nowrap;
    flex-basis: 80%;
    flex-shrink: 1;
    flex-grow: 2;
    overflow: auto;
}
.sortspecs {
    font-size: small;
    color: #777777;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.sortcol {
    margin: 0 1em 0 1em;
    background-color: #eeeeee;
    border-radius: 2px;
}
.sorted {
    background-color: #ddffdd;
}
.unsorted {
}
