.grid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.grid-head {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
}

.grid-row {
    display: inline-flex;
    margin-bottom: 0.1em;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    width: 100%;
}
.grid-row.form {
    display: inline-flex;
    margin-bottom: 0.1em;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}
.grid-cell {
}
.grid-head-cell {
    font-weight: bold;
}
.grid-status-cell {
    flex: 0 0 3em;
}
.list-generic {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.sortspecs {
    font-size: small;
    color: var(--sort-specs-fore);
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.sortcol {
    margin: 0 1em 0 1em;
    background-color: var(--sort-col-back);
    border-radius: 0.5ex;
}
.sorted {
    background-color: var(--sort-back);
}
.unsorted {
}
div.sub-app {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}
div.bar {
    flex: 0.5 1 content;
    padding-right: 0.5em;
    max-height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
div.details {
    flex: 1 1 70%;
    padding-left: 0.5em;
    max-height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
div.list-filter {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}
div.filters {
    flex: 1 1 45%;
    padding-right: 0.5em;
    max-height: 100%;
    max-width: 40%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
div.list {
    flex: 1 1 45%;
    padding-left: 0.5em;
    max-height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
div.list-filter.compact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
div.filters.compact {
    width: 98%;
    max-width: 100%;
    flex: 1 1 auto;
}
div.filterSequence.compact {
    width: 100%;
    max-width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: baseline;
}
div.list.compact {
    width: 98%;
    flex: 1 1 auto;
}
div.fulltext {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: baseline;
}
div.fulltext .search {
    flex: 1 0.3 5em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.fulltext-stat {
    flex: 0.5 0.2 5em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    text-align: right;
    color: var(--dim-fore);
    background-color: var(--dim-back);
}
.item-head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: baseline;
}
