/* NAVIGATION ELEMENTS */

a {
    color: $action-fore;
    text-decoration: none;
}
a:active, a:hover {
    color: $action-fore;
    text-decoration: underline;
}
a.spin-ok {
    color: $action-fore;
}
a.spin-error {
    color: $error-fore-o;
}
a.spin-warning {
    color: $warning-fore-o;
}
a.control {
    color: $action-fore;
}
span.delete,.span.insert {
    float: right;
}
p.nav {
    background-color: $widget-fixed-back;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
div.nav {
    background-color: $widget-fixed-back;
    padding: 0;
}
.nav a.active,a.nav.active {
    background-color: $action-back;
    border: 1px solid $action-border;
}
.nav a,a.nav {
    color: $action-fore;
    text-decoration: none;
    border-radius: 6pt;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
