/* NAVIGATION ELEMENTS */

a {
    color: var(--action-fore);
    text-decoration: none;
}
a:active, a:hover {
    color: var(--action-fore);
    text-decoration: underline;
}
a.spin-ok {
    color: var(--action-fore);
}
a.spin-error {
    color: var(--error-fore-o);
}
a.spin-warning {
    color: var(--warning-fore-o);
}
a.control {
    color: var(--action-fore);
}
.nav {
    background-color: var(--widget-fixed-back);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.nav.top {
    padding-right: 8em;
}
.nav.top img {
    margin-bottom: -1em;
    margin-top: -1em;
    height: 3em;
}
.nav.bar {
    background-color: var(--widget-fixed-back);
    padding: 0;
    display: flex;
    flex: 0 0 content;
    height: 100%;
    max-height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.nav.section {
    flex: 0 0 content;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.nav.subsection {
    flex-basis: content;
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: start-end;
    margin-left: 2em;
    font-size: small;
}
a.active {
    background-color: #eeeeee;
    border: 1px solid var(--action-border);
    border-radius: 0.5ex;
}
.nav a.active,a.nav.active {
    background-color: var(--action-back);
    border: 1px solid var(--action-border);
}
.nav a,a.nav {
    color: var(--action-fore);
    text-decoration: none;
    border-radius: 1ex;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.resize {
    font-size: x-small;
    color: #bbbbbb;
}
