/* NAVIGATION ELEMENTS */

$active-color: #000000;
$active-bgcolor: #ffffee;
$inactive-color: #0000ff;
$inactive-bgcolor: #eeeeee;
$nav-bgcolor: #eeeeee;

p.nav {
    background-color: $nav-bgcolor;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
div.nav {
    background-color: $nav-bgcolor;
    margin-top: -1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
ul.nav {
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    margin-right: 1em;
    margin-left: -1em;
}
ul.nav > li {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
.nav a {
    color: $inactive-color;
    background-color: $inactive-bgcolor;
    font-weight: normal;
    text-decoration: none;
    border-radius: 6pt;
    padding-right: 1em;
    padding-left: 1em;
}
.nav a:after {
    content: " ";
}

.nav a.active {
    color: $active-color;
    background-color: $active-bgcolor;
    font-weight: bold;
}
