/* NAVIGATION ELEMENTS */

a {
    color: $action-fore;
    text-decoration: none;
}
a:active, a:hover {
    color: $action-fore;
    text-decoration: underline;
}
a.spin-ok {
    color: $action-fore;
}
a.spin-error {
    color: $error-fore-o;
}
a.spin-warning {
    color: $warning-fore-o;
}
a.control {
    color: $action-fore;
}
p.nav {
    background-color: $widget-fixed-back;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
p.nav.top {
    padding-right: 8em;
}
p.nav.top img {
    margin-bottom: -1em;
    margin-top: -1em;
    height: 3em;
}
div.nav {
    background-color: $widget-fixed-back;
    padding: 0;
}
.nav a.active,a.nav.active {
    background-color: $action-back;
    border: 1px solid $action-border;
}
.nav a,a.nav {
    color: $action-fore;
    text-decoration: none;
    border-radius: 6px;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.resize {
    font-size: x-small;
    color: #bbbbbb;
}
