/* NAVIGATION ELEMENTS */

a {
	color: var(--action-fore);
	text-decoration: none;
}
a:active,
a:hover {
	color: var(--action-fore);
	text-decoration: underline;
}
a.spin-ok {
	color: var(--action-fore);
}
a.spin-error {
	color: var(--error-fore-o);
}
a.spin-warning {
	color: var(--warning-fore-o);
}
a.control {
	color: var(--action-fore);
}
a.active,
.toplinks a.active {
	color: var(--action-active-fore);
	background-color: var(--action-active-back);
	border: 1px solid var(--action-active-border);
}
.toplinks a {
	color: var(--action-fore);
	text-decoration: none;
	border-radius: 0.5rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.resize {
	font-size: x-small;
	color: var(--resize-fore);
}
