$error-fore-o: #880000;
$error-fore: #ee0000;
$error-back: #ffcccc;

$warning-fore-o: #bb7700;
$warning-fore: #000000;
$warning-back: #ffcc88;

$good-fore-o: #00aa00;
$good-fore: #000000;
$good-back: #88ff88;

$info-fore-o: #222222;
$info-fore: #226622;
$info-back: #eeeeee;

$special-fore-o: #000000;
$special-fore: #000000;
$special-back: #ffeeff;

$dim-fore-o: #666666;
$dim-fore: #888888;
$dim-back: #f3f3f3;

.error {
    color: $error-fore;
    background-color: $error-back;
}
.error-o {
    color: $error-fore-o;
}
.warning {
    color: $warning-fore;
    background-color: $warning-back;
}
.warning-o {
    color: $warning-fore-o;
}
.good {
    color: $good-fore;
    background-color: $good-back;
}
.good-o {
    color: $good-fore-o;
}
.info {
    color: $info-fore;
    background-color: $info-back;
}
.info-o {
    color: $info-fore-o;
}
.special {
    color: $special-fore;
    background-color: $special-back;
}
.special-o {
    color: $special-fore-o;
}
.msg-high {
    font-weight: bold;
}
.msg-line {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.msg-trash {
    padding-top: 2;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: medium;
    float: left;
}
.msg-dismiss {
    padding-top: 2;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-size: x-small;
    float: right;
}
.msg-box {
    position: fixed;
    top: 40;
    right: 10;
    width: 400;
    height: 100;
    @include sized();
    padding-left: 10;
    padding-right: 10;
    z-index: 2000;
    opacity: 0.9;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eeeeee;
    border: 2px solid #aaaaaa;
    border-radius: 8px;
    font-size: small;
}
.msg-spinner {
    @include action();
    position: fixed;
    top: 0.05em;
    right: 1em;
    width: 5em;
    height: 2em;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
    z-index: 2000;
    opacity: 0.9;
    vertical-align: middle;
}
.msg-dot {
    font-size: small;
}

.progress {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}


