/* PAGE LAYOUT */

td {
    vertical-align: top;
}

body,p,div,td,li {
    font-family: Roboto, sans-serif;
}
span.login {
    float: right;
    color: $widget-fixed-fore;
    font-size: small;
}
.small {
    font-size: small;
}

div.sized {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
}

