/* PAGE LAYOUT */

td {
    vertical-align: top;
}

.body,body,p,div,td,li {
    font-family: sans-serif;
}
span.login {
    float: right;
    color: var(--widget-fixed-fore);
    font-size: small;
}
.small {
    font-size: small;
}

div.sized {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.inlineL {
    float: left;
}
.inlineR {
    float: right;
}
div.error-boundary {
    font-size: medium;
    font-weight: normal;
    background-color: var(--errorboundary-back);
    color: var(--errorboundary-fore);
    border: 2px dotted var(--errorboundary-border);
    border-radius: 1.5ex;
    padding: 0.3em;
}
