/* PAGE LAYOUT */

td {
    vertical-align: top;
}

.body,body,p,div,td,li {
    font-family: sans-serif;
}
span.login {
    float: right;
    color: $widget-fixed-fore;
    font-size: small;
}
.small {
    font-size: small;
}

div.sized {
    @include sized();
}

.inlineL {
    float: left;
}
.inlineR {
    float: right;
}
div.error-boundary {
    font-size: medium;
    font-weight: normal;
    background-color: #ffdddd;
    color: #000000;
    border: 2pt dashed #ff0000;
    border-radius: 4pt;
    padding: 0.3em;
}
