$select-back: rgba(255, 255, 255, 0.5);
$select-high: rgba(255, 255, 128, 0.5);
$select-fore: rgba(0, 0, 128, 0.9);
$select-border: rgba(150, 150, 100, 0.5);
$options-back: rgba(200, 200, 200, 0.8);
$options-border: rgba(200, 200, 200, 0.5);
$typing-fore: rgba(40, 40, 40, 0.9);
$typing-back: rgba(255, 255, 255, 0.9);
$opt-fore: rgba(80, 0, 0, 0.9);
$opt-back: rgba(250, 250, 250, 0.9);
$opt-border: rgba(250, 250, 250, 0.9);
$opthover-fore: rgba(80, 80, 0, 0.9);
$opthover-back: rgba(255, 255, 220, 0.6);
$opthover-border: rgba(0, 255, 0, 0.95);
$tag-fore: rgba(0, 80, 0, 0.9);
$tag-back: rgba(220, 220, 220, 0.6);
$tag-back-var: rgba(240, 240, 240, 0.9);
$tag-border: rgba(220, 220, 220, 0.9);
$newtag-fore: rgba(0, 0, 255, 0.9);
$newtag-back: rgba(255, 255, 160, 0.7);
$emptytag-fore: rgba(0, 0, 255, 0.9);
$emptytag-back: rgba(255, 255, 160, 0.4);

div.select {
    display: inline-block;
    width: 100%;
    max-width: 100%;
}
div.select.multiselect {
    background-color: $select-back;
}
.options {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid $options-border;
    border-radius: 3px;
    background-color: $options-back;
    max-width: 100%;
}
.option {
    @include action();
    color: $select-fore;
    background-color: $opt-border;
}
.option.selected {
    background-color: $select-high;
    border: 1px solid $select-border;
}
.option-type, .option-head, .option {
    margin: 0 0 0 0;
    padding: 1 3 1 3;
}
.option-type, .option-head {
    padding: 0.1em 0.2em 0.1em 0.2em;
}
.option-type {
    color: $typing-fore;
    background-color: $typing-back;
}
input .invisible {
    border-radius: 3px;
    border: 0;
    box-shadow: none;
    width: 90%;
}

/* tags */

.tags {
    display: flex;
    flex-flow: row wrap;
}
.tag {
    display: inline-block;
    padding: 0.1em 0.2em 0.1em 0.2em;
    margin: 0.2em 0.3em 0.2em 0.3em;
    color: $tag-fore;
    background-color: $tag-back;
    border-radius: 0.4em;
    border: 1px solid $tag-border;
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.tag.new {
    color: $newtag-fore;
    background-color: $newtag-back;
}
.tag.empty {
    color: $emptytag-fore;
    background-color: $emptytag-back;
}
.option.tag {
    color: $opt-fore;
    background-color: $opt-back;
}
.option.tag:hover {
    color: $opthover-fore;
    background-color: $opthover-back;
    border-color: $opthover-border;
}
.option.tag.selected {
    color: $tag-fore;
    background-color: $tag-back;
}

.button-tag {
    cursor: pointer;
}
.tag .button-tag {
    background-color: $tag-back-var;
}
