.itemRecord {
	border: 0.2rem solid var(--record-border);
	border-radius: 0.5rem;
	background-color: var(--record-back);
	width: 100%;
}
.itemRecord.edit {
	border: 0.2rem solid var(--record-edit-border);
	border-radius: 0.5rem;
	background-color: var(--record-edit-back);
}

.itemRecord.noBorder,
.itemRecord.edit.noBorder {
	border: 0.2rem solid var(--record-border-no);
}
