div.criteriaEntryRead, div.criteraEntryEdit {
    border-radius: 1ex;
    margin: 2px;
}
div.criteriaEntryRead.complete {
    border: 2px solid var(--entry-complete-border);
    background-color: var(--entry-complete-back);
}
div.criteriaEntryRead.incomplete {
    border: 2px dashed var(--entry-incomplete-border);
    background-color: var(--entry-incomplete-back);
}
div.criteriaEntryEdit.complete {
    border: 2px solid var(--entry-edit-complete-border);
    background-color: var(--entry-edit-complete-back);
}
div.criteriaEntryEdit.incomplete {
    border: 2px dashed var(--entry-edit-incomplete-border);
    background-color: var(--entry-edit-incomplete-back);
}

div.criteriaEntry {
    display: flex;
    flex-flow: row  nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
div.fat {
    flex: 0 1 80%;
}
div.slim {
    flex: 0 1 10em;
}
div.xSlim {
    flex: 0 1 2em;
}
div.criteriaRemarks {
    color: var(--remarks-fore);
    background-color: var(--remarks-back);
    font-size: small;
    margin-left: 0em;
    margin-right: 3.5em;
}

div.evidence {
    margin-left: 2em;
    margin-right: 3.5em;
    background-color: var(--evidence-back);
}
.vtop {
    vertical-align: top;
}
.tError {
    color: var(--template-error);
}
.tGood {
    color: var(--template-good);
}

