div.criteriaEntryRead, div.criteraEntryEdit {
    border-radius: 1ex;
    margin: 2pt;
}
div.criteriaEntryRead.complete {
    border: 2px solid #00ff00;
    background-color: #ffffff;
}
div.criteriaEntryRead.incomplete {
    border: 2px solid #ff0000;
    background-color: #ffeeee;
}
div.criteriaEntryEdit.complete {
    border: 2px solid #00ff00;
    background-color: #ffffee;
}
div.criteriaEntryEdit.incomplete {
    border: 2px solid #ff0000;
    background-color: #ffffee;
}

div.criteriaEntry {
    display: flex;
    flex-flow: row  nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
div.fat {
    flex: 0 1 80%;
}
div.slim {
    flex: 0 1 10em;
}
div.xSlim {
    flex: 0 1 2em;
}
div.criteriaRemarks {
    color: #002200;
    background-color: #fffffa;
    font-size: small;
    margin-left: 0em;
    margin-right: 3.5em;
}

div.evidence {
    margin-left: 2em;
    margin-right: 3.5em;
    background-color: #ffffff;
}
.vtop {
    vertical-align: top;
}
.tError {
    color: #bb0000;
}
.tGood {
    color: #00bb00;
}

