.hidden {
	color: var(--widget-fixed-back);
}
.widget-large,
.widget-medium,
.widget-small {
	color: var(--widget-fixed-fore);
	background-color: var(--widget-fixed-back);
	border-color: var(--widget-border);
}
.widget-large {
	--size: medium;
	--radius: 0.5rem;
	--border: 2px;
	font-size: var(--size);
	border-radius: var(--radius);
	border-style: solid;
	border-width: var(--border);
	padding-top: calc(var(--radius) * 0.4);
	padding-bottom: calc(var(--radius) * 0.4);
	padding-left: calc(var(--radius) * 1.2);
	padding-right: calc(var(--radius) * 1.2);
}
.widget-medium {
	--size: medium;
	--radius: 0.4rem;
	--border: 1px;
	font-size: var(--size);
	border-radius: var(--radius);
	border-style: solid;
	border-width: var(--border);
	padding-top: calc(var(--radius) * 0.4);
	padding-bottom: calc(var(--radius) * 0.4);
	padding-left: calc(var(--radius) * 1.2);
	padding-right: calc(var(--radius) * 1.2);
}
.widget-small {
	--size: small;
	--radius: 0.3rem;
	--border: 0px;
	font-size: var(--size);
	border-radius: var(--radius);
	border-style: solid;
	border-width: var(--border);
	padding-top: calc(var(--radius) * 0.4);
	padding-bottom: calc(var(--radius) * 0.4);
	padding-left: calc(var(--radius) * 1.2);
	padding-right: calc(var(--radius) * 1.2);
}

.fixed-large,
.fixed-medium,
.fixed-small {
	color: var(--widget-fixed-fore);
	background-color: var(--widget-fixed-back);
}
.fixed-large {
	--size: large;
	--hor: 1rem;
	--ver: 0.5rem;
	--border: 0;
	font-size: var(--size);
	border-style: solid;
	border-width: var(--border);
	padding-top: var(--ver);
	padding-bottom: var(--ver);
	padding-left: var(--hor);
	padding-right: var(--hor);
}
.fixed-medium {
	--size: medium;
	--hor: 0.5rem;
	--ver: 0.3rem;
	--border: 0;
	font-size: var(--size);
	border-style: solid;
	border-width: var(--border);
	padding-top: var(--ver);
	padding-bottom: var(--ver);
	padding-left: var(--hor);
	padding-right: var(--hor);
}
.fixed-small {
	--size: small;
	--hor: 0.2rem;
	--ver: 0;
	--border: 0;
	font-size: var(--size);
	border-style: solid;
	border-width: var(--border);
	padding-top: var(--ver);
	padding-bottom: var(--ver);
	padding-left: var(--hor);
	padding-right: var(--hor);
}

.label {
	--size: medium;
	--hor: 0.5rem;
	--ver: 0.3rem;
	--border: 0;
	font-size: var(--size);
	border-style: solid;
	border-width: var(--border);
	padding-top: var(--ver);
	padding-bottom: var(--ver);
	padding-left: var(--hor);
	padding-right: var(--hor);
	font-weight: bold;
}
