.workflow-large.invert,.workflow-medium.invert,.workflow-small.invert  {
    font-weight: bold;
    color: var(--invert-fore);
    background-color: var(--invert-back);
    border-color: var(--invert-border);
    white-space: nowrap;
    padding: 0.5rem;
}
.workflow-large, .workflow-large.invert {
    --size: medium;
    --radius: 0.5rem;
    --border: 2px;
    font-size: var(--size);
    border-radius: var(--radius);
    border-style: solid;
    border-width: var(--border);
    padding-top: calc(var(--radius) * 0.4);
    padding-bottom: calc(var(--radius) * 0.4);
    padding-left: calc(var(--radius) * 1.2);
    padding-right: calc(var(--radius) * 1.2);
}
.workflow-medium, .workflow-medium.invert {
    --size: medium;
    --radius: 0.4rem;
    --border: 1px;
    font-size: var(--size);
    border-radius: var(--radius);
    border-style: solid;
    border-width: var(--border);
    padding-top: calc(var(--radius) * 0.4);
    padding-bottom: calc(var(--radius) * 0.4);
    padding-left: calc(var(--radius) * 1.2);
    padding-right: calc(var(--radius) * 1.2);
}
.workflow-small, .workflow-small.invert {
    --size: small;
    --radius: 0.3rem;
    --border: 0;
    font-size: var(--size);
    border-radius: var(--radius);
    border-style: solid;
    border-width: var(--border);
    padding-top: calc(var(--radius) * 0.4);
    padding-bottom: calc(var(--radius) * 0.4);
    padding-left: calc(var(--radius) * 1.2);
    padding-right: calc(var(--radius) * 1.2);
}


