html {
	height: 100vh;
}
body {
	height: 100%;
	margin: 1em;
}
#body,
body,
p,
div,
td,
li {
	font-family: sans-serif;
}

a {
	color: var(--action-fore);
	text-decoration: none;
}
a:active,
a:hover {
	color: var(--action-fore);
	text-decoration: underline;
}

table {
    border-collapse: collapse;
}
td {
    vertical-align: top;
}
div.error-boundary {
	font-size: medium;
	font-weight: normal;
	background-color: var(--errorboundary-back);
	color: var(--errorboundary-fore);
	border: 2px dotted var(--errorboundary-border);
	border-radius: 0.8rem;
	padding: 0.3rem;
}

div.headline {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	width: 100%;
  background-color: var(--headline-back);
  border: 1pt solid var(--headline-border);
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin: 0.3rem;
}

.user {
  flex: 0 1 auto;
	font-size: small;
	font-weight: normal;
	background-color: var(--user-back);
	color: var(--user-fore);
	border: 2px dotted var(--user-border);
	border-radius: 0.4rem;
	padding: 0.2rem;
}

.access {
  flex: 0 1 auto;
	font-size: small;
	font-weight: normal;
	background-color: var(--access-back);
	color: var(--access-fore);
	border: 2px dotted var(--access-border);
	border-radius: 0.4rem;
	padding: 0.2rem;
}

.button {
	color: var(--action-fore);
	cursor: pointer;
	background-color: var(--action-back);
	border-color: var(--action-border);
	/*white-space: nowrap;*/
}
.button.disabled {
	cursor: default;
	background-color: var(--action-disabled-back);
}
.button.large,
.label.large {
	--size: medium;
	--radius: 0.5rem;
	--border: 2px;
	font-size: var(--size);
	border-radius: var(--radius);
	border-style: solid;
	border-width: var(--border);
	padding-top: calc(var(--radius) * 0.4);
	padding-bottom: calc(var(--radius) * 0.4);
	padding-left: calc(var(--radius) * 1.2);
	padding-right: calc(var(--radius) * 1.2);
}
.button.medium,
.label.medium {
	--size: medium;
	--radius: 0.4rem;
	--border: 1px;
	font-size: var(--size);
	border-radius: var(--radius);
	border-style: solid;
	border-width: var(--border);
	padding-top: calc(var(--radius) * 0.4);
	padding-bottom: calc(var(--radius) * 0.4);
	padding-left: calc(var(--radius) * 1.2);
	padding-right: calc(var(--radius) * 1.2);
}
.button.small,
.label.small {
	--size: small;
	--radius: 0.3rem;
	--border: 0;
	font-size: var(--size);
	border-radius: var(--radius);
	border-style: solid;
	border-width: var(--border);
	padding-top: calc(var(--radius) * 0.4);
	padding-bottom: calc(var(--radius) * 0.4);
	padding-left: calc(var(--radius) * 1.2);
	padding-right: calc(var(--radius) * 1.2);
}

.a-none {
    color: #444444;
    background-color: #dddddd;
}
.a-started {
    color: #ffffff;
    background-color: #ff8800;
}
.a-self {
    color: #ffffff;
    background-color: #eebb00;
}
.a-inreview {
    color: #444444;
    background-color: #eeee00;
}
.a-rejected {
    color: #ffffff;
    background-color: #ff0000;
}
.a-accepted {
    color: #000000;
    background-color: #88ff88;
}
.c-undecided {
}
.c-rejected {
    color: #000000;
    background-color: #ff8888;
}
.c-selected {
    color: #000000;
    background-color: #00ffff;
}

