html {
	height: 100vh;
}
body {
	height: 100%;
	margin: 1em;
}
#body,
body,
p,
div,
td,
li {
	font-family: sans-serif;
}

a {
	color: var(--action-fore);
	text-decoration: none;
}
a:active,
a:hover {
	color: var(--action-fore);
	text-decoration: underline;
}

table {
    border-collapse: collapse;
}
td {
    vertical-align: top;
}
div.error-boundary {
	font-size: medium;
	font-weight: normal;
	background-color: var(--errorboundary-back);
	color: var(--errorboundary-fore);
	border: 2px dotted var(--errorboundary-border);
	border-radius: 0.8rem;
	padding: 0.3rem;
}

.button {
	color: var(--action-fore);
	cursor: pointer;
	background-color: var(--action-back);
	border-color: var(--action-border);
	/*white-space: nowrap;*/
}
.button.disabled {
	cursor: default;
	background-color: var(--action-disabled-back);
}
.button.large,
.label.large {
	--size: medium;
	--radius: 0.5rem;
	--border: 2px;
	font-size: var(--size);
	border-radius: var(--radius);
	border-style: solid;
	border-width: var(--border);
	padding-top: calc(var(--radius) * 0.4);
	padding-bottom: calc(var(--radius) * 0.4);
	padding-left: calc(var(--radius) * 1.2);
	padding-right: calc(var(--radius) * 1.2);
}
.button.medium,
.label.medium {
	--size: medium;
	--radius: 0.4rem;
	--border: 1px;
	font-size: var(--size);
	border-radius: var(--radius);
	border-style: solid;
	border-width: var(--border);
	padding-top: calc(var(--radius) * 0.4);
	padding-bottom: calc(var(--radius) * 0.4);
	padding-left: calc(var(--radius) * 1.2);
	padding-right: calc(var(--radius) * 1.2);
}
.button.small,
.label.small {
	--size: small;
	--radius: 0.3rem;
	--border: 0;
	font-size: var(--size);
	border-radius: var(--radius);
	border-style: solid;
	border-width: var(--border);
	padding-top: calc(var(--radius) * 0.4);
	padding-bottom: calc(var(--radius) * 0.4);
	padding-left: calc(var(--radius) * 1.2);
	padding-right: calc(var(--radius) * 1.2);
}

table.mt {
   font-size: small;
}
table.mt td {
    border: 0.2em solid #ffffff;
    vertical-align: baseline;
}
td.mtl {
    background-color: #eeeeee;
    font-weight: bold;
}
td.mtd {
    line-height: 1.5;
    padding: 0.2em;
}
.g-add {
    background-color: #eeffee;
}
.g-rm {
    background-color: #ffeeff;
}
.g-x {
    background-color: #ffeeee;
}
.g-add,.g-rm,g.x {
    color: #000000;
    font-weight: bold;
    font-size: small;
    padding: 0.1em 0.2em;
    border-radius: 0.4em;
    border: 0.1em solid #888888;
}
p.countries {
    line-height: 1.5;
}

table.cc {
   font-size: small;
}

table.cc td {
    border: 0.2em solid #aaaaaa;
    padding: 0.2em 0.3em;
}
table.cc th {
    color: #000000;
    background-color: #ffffff;
    border: 0.2em solid #dddddd;
    padding: 0.2em 0.3em;
    font-size: small;
}
table.cc td.c-vcc, table.cc th.c-vcc {
    text-align: left;
}
table.cc td.c-year, table.cc th.c-year {
    text-align: center;
}
table.cc td.c-type, table.cc th.c-type {
    text-align: center;
}
table.cc td.c-cost, table.cc th.c-cost {
    text-align: right;
}
table.cc td.c-assessed, table.cc th.c-assessed {
    text-align: left;
}
table.cc td.c-selected.editable, table.cc th.c-selected.editable {
    text-align: center;
    min-width: 6em;
    max-width: 6em;
}
table.cc td.c-selected, table.cc th.c-selected {
    text-align: left;
}
table.cc td.c-title, table.cc th.c-title {
    text-align: left;
}

td.c-vcc {
   color: #666666;
} 
td.c-type {
   color: #222222;
} 
td.c-year {
   color: #222222;
} 
td.c-cost {
   color: #000000;
   font-size: medium;
   font-weight: bold;
   font-family: monospace;
   font-weight: medium;
} 
td.c-selected {
   background-color: #ffffee;
   text-align: center;
} 
td.c-title {
   font-size: small;
} 
td.c-assessed {
   font-weight: bold;
} 
td.c-assessed.a-none {
    color: #444444;
    background-color: #dddddd;
}
td.c-assessed.a-started {
    color: #ffffff;
    background-color: #ff8800;
}
td.c-assessed.a-self {
    color: #ffffff;
    background-color: #eebb00;
}
td.c-assessed.a-inreview {
    color: #444444;
    background-color: #eeee00;
}
td.c-assessed.a-rejected {
    color: #ffffff;
    background-color: #ff0000;
}
td.c-assessed.a-accepted {
    color: #000000;
    background-color: #88ff88;
}

.c-focus {
    color: #ffffff;
    font-size: medium;
    font-weight: bold;
    background-color: #0000cc;
}
.c-focus.fake {
    background-color: #00cccc;
}
.c-control {
    color: #0000cc;
    font-weight: normal;
    font-size: small;
    background-color: #eeee;
}
.c-control.fake {
    background-color: #aaffff;
}
.c-control,.c-focus {
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
}
.selectctl a {
    color: #000000;
    background-color: #ffff00;
}
td.c-selected.editable a {
    color: #000000;
    font-weight: bold;
    background-color: #eeeeff;
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
}
.c-selected .fa-times.s-focus {
    color: #ffffff;
    background-color: #dd0000;
}
.c-selected .fa-check.s-focus {
    background-color: #00dd00;
}
.c-selected .fa-minus.s-focus {
    color: #000000;
    background-color: #ffff00;
}
a[select] {
    color: #7777ff;
    font-weight: normal;
    background-color: #ffffff;
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
}
.och {
    font-size: medium;
    text-align: left;
}
.och.asc {
    font-style: italic;
    background-color: #eeffee;
}
.och.desc {
    font-style: italic;
    background-color: #ffeeee;
}
.selectctl {
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
    background-color: #eeeeff;
}
.subhead {
    font-weight: bold;
    color: #000000;
    background-color: #eeeeee;
}
.subhead.c-selected {
    font-weight: bold;
    background-color: #ffffee;
}
.allhead.c-selected {
    font-weight: bold;
    color: #000000;
    background-color: #eeeeee;
}
.subhead.c-assessed, .subhead.c-title, .subhead.c-cost {
}
.subhead.c-title, .subhead.c-cost {
    color: #000000;
    background-color: #eeeeee;
}
.subhead.c-title {
    font-weight: normal;
    font-style: italic;
}
tr.dd {
    display: table-row;
}
tr.dd.hide {
    display: none;
}
a.dc.fa-chevron-circle-up {
    display: inline;
}
a.dc.hide.fa-chevron-circle-up {
    display: none;
}
a.dc.fa-chevron-circle-down {
    display: inline;
}
a.dc.hide.fa-chevron-circle-down {
    display: none;
}
