/* LAYOUT */
/* begin custom navbar */

nav.navbar {
    border-bottom: 0;
    border-image-width: 0;
    min-height: 40px;
}
.navbar-inverse .navbar-inner {
    background-image: none;
    border: 2px solid #eeeeee;
}

.navbar-inner {
    background-color: #cccccc;
    border: 2px solid #eeeeee;
    border-radius: 4px 4px 4px 4px;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #cccccc;
}

.btn-group.open .btn.dropdown-toggle {
  background-color: #cccccc;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffff00;
  background-color: #777777;
  text-transform: none;
  font-size: medium;
}

.navbar .nav > li > a {
    color: #1A3D6F;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 0px 0 #444444;
    text-transform: none;
    font-size: medium;
}
.collapse.navbar-collapse:before,.collapse.navbar-collapse:after {
    content: none;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #1A3D6F;
  text-shadow: 0 0px 0 #444444;
  text-transform: none;
  font-size: medium;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #ffff00;
  text-decoration: none;
  background-color: #777777;
  text-transform: none;
  font-size: medium;
}

.navbar-text {
  margin-bottom: 0;
  /*line-height: 40px;*/
  color: #1A3D6F;
  font-size: medium;
  text-transform: none;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #ffff00;
  text-decoration: none;
  background-color: #777777;
  text-transform: none;
  font-size: medium;
}

.dropdown-menu li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #1A3D6F;
  white-space: nowrap;
  text-transform: none;
  font-size: medium;
}

.navbar-link {
  color: #1A3D6F;
}

.navbar-link:hover {
  color: #ffff00;
}

nav.navbar,nav .container-fluid, footer.footer, footer.footer div {
    background-color: #cccccc;
}

nav .container-fluid:before,nav .container-fluid:after {
    content: none;
}
nav.navbar:before,nav.navbar:after {
    content: none;
}

a.brand img {
    vertical-align: top;
    height: 50px;
}

/* end custom navbar */

a {
    color: #d45510;
    text-decoration: none;
}
a:active, a:hover: {
    color: #d45510;
    text-decoration: underline;
}
.page-header {
    margin: 20pt 0 10pt 0;
}
.mastheader {
    display: none;
}
.github img {
    margin: 0 10pt 0 0;
}
.github:last-child img {
    margin: 0;
}
a.github {
    text-decoration: none;
}
.logos {
    text-align: center;
    margin-bottom: -100pt;
    margin-top: 12pt;
}
ul.text {
    list-style-type: disc;
}

ol.text {
    list-style-type: decimal;
}

.lbar {
    height: 60px;
}

/* PAGE LAYOUT */

#middle, #left, #right {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
#middle td {
    vertical-align: top;
}

/* CONTROLS */

.ctrl {
    border-radius: 6pt;
    border: 1pt solid #dde6dd;
    background-color: #fafffa;
    padding: 2pt;
}
.ctrls {
    font-size: x-small;
    border-radius: 2pt;
    background-color: #fafffa;
    padding: 0pt;
}
.radio.ison {
    font-weight: bold;
    color: #1A3D6F;
    background-color: #ffffdd;
    border: 2pt solid #d3550f;
}
.ctrls.ison {
    font-weight: bold;
    background-color: #dd8844;
    color: #ffff00;
}
.isonn {
    border-radius: 6pt;
    background-color: #ffffdd;
    border: 2pt solid #ffffdd;
}
.radio {
    font-weight: normal;
    background-color: #fafffa;
    color: #aaaaaa;
}

/* FACETS */
div.facet {
    font-size: medium;
}

/* FILTERS */

div.flt{
    font-size: medium;
}
div.flt input {
    font-weight: normal;
    font-size: small;
    width: 40%;
}
.fbox {
    font-size: small;
    background-color: #ffffdd;
    padding-left: 1em;
}
.fbox.ison {
    background-color: #ffff44;
}
.fbox span {
    display: inline;
}
#stats_contrib {
    color: #aaaaaa;
    font-size: x-small;
    float: right;
}
td .stats,p .stats {
    color: #aaaaaa;
    font-size: x-small;
    padding-right: 1ex;
}
.filtc {
    float: right;
}
.clist {
    width: 100%;
    font-size: x-small;
}
.devel {
    font-size: small;
    font-weight: bold;
    color: #0000bb;
    background-color: #ffff55;
}
/* GENERIC */

.left_ {
    float: left;
}
.right_ {
    float: right;
}
label.radio {
    margin-left: 0.5em;
}
.error {
    background-color: #ffaaaa;
}
.warning {
    background-color: #ffddaa;
}
.good {
    background-color: #aaffaa;
}
.info {
    background-color: #eeeeee;
}
.special {
    background-color: #aaddff;
}
.note {
    background-color: #ffff22;
}
.total {
    font-weight: bold;
}
p.error, p.warning, p.good, p.info, p.special, p.note {
    margin: 0 0 0px;
}
span.match {
    font-weight: bold;
    color: #0000aa;
}
span.submatch {
    font-weight: normal;
    color: #999999;
}
div.msg_ok {
    background-color: #aaffaa;
    font-weight: bold;
    font-size: large;
}
div.msg_error {
    background-color: #ffaaaa;
    font-weight: bold;
    font-size: large;
}
span.ir {
    float: right;
}
/* DIALOGS */
.pnll .ui-dialog-titlebar-close {
  display: none;
}
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
    height: 100px;
}
/* Countries */
.cc {
    font-weight: bold;
}
.cn {
    font-weight: normal;
    font-size: small;
    color: #888888;
}
