details.assessment
{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-size: large;
}
details.criterion
{
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
	margin-left: 1rem;
  color: var(--assessment-quoted-fore);
  background-color: var(--assessment-quoted-back);
	border: 2px solid var(--assessment-quoted-border);
	border-radius: 0.2rem;
	padding: 0.2rem;
}

details.criterion .comments
{
	font-size: small;
	margin-left: 1rem;
	margin-right: 1rem;
}

.assessment-head {
  font-weight: bold;
}
