.step,
.status {
	font-weight: bold;
	padding: 0.5rem;
	margin: 0.5rem 1rem;
	display: inline-block;
    max-width: 100%;
}
.step {
	border-width: 0.3rem;
	border-style: outset;
  cursor: pointer;
}
.status {
	border-radius: 0;
}
.status.info {
	color: var(--status-info-fore);
	background-color: var(--status-info-back);
	border-color: var(--status-info-border);
}
.status.good {
	color: var(--status-good-fore);
	background-color: var(--status-good-back);
	border-color: var(--status-good-border);
}
.status.warning {
	color: var(--status-warning-fore);
	background-color: var(--status-warning-back);
	border-color: var(--status-warning-border);
}
.status.error {
	color: var(--status-error-fore);
	background-color: var(--status-error-back);
	border-color: var(--status-error-border);
}
.step.info {
	color: var(--step-info-fore);
	background-color: var(--step-info-back);
	border-color: var(--step-info-border);
}
.step.good {
	color: var(--step-good-fore);
	background-color: var(--step-good-back);
	border-color: var(--step-good-border);
}
.step.warning {
	color: var(--step-warning-fore);
	background-color: var(--step-warning-back);
	border-color: var(--step-warning-border);
}
.step.error {
	color: var(--step-error-fore);
	background-color: var(--step-error-back);
	border-color: var(--step-error-border);
}
.step.info.active,
.step.good.active,
.step.warning.active,
.step.error.active {
	color: var(--step-active-fore);
	background-color: var(--step-active-back);
	border-color: var(--step-active-border);
}
