/* CONTROL */

$control-on-color: #000000;
$control-on-background-color: #ffffee;
$control-off-color: #0000aa;
$control-of-background-color: #eeeeee;
$control-disabled-color: #aaaaaa;
$control-disabled-background-color: #eeeeee;

.control_title {
    color: $control-off-color;
    background-color: $control-of-background-color;
    font-size: medium;
    font-weight: normal;
    font-style: normal;
}
.control_title.ison {
    color: $control-on-color;
    background-color: $control-on-background-color;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
}
.control_title.disabled {
    color: $control-disabled-color;
    background-color: $control-disabled-background-color;
    font-size: medium;
    font-weight: normal;
    font-style: italic;
}
.control_big {
    color: $control-off-color;
    background-color: $control-of-background-color;
    border-radius: 6pt;
    border: 1pt solid #dddddd;
    padding: 2pt;
}
.control_big.ison {
    color: $control-on-color;
    background-color: $control-on-background-color;
    border-radius: 6pt;
    border: 2pt solid #ffff44;
    padding: 2pt;
}
.control_big.disabled {
    color: $control-disabled-color;
    background-color: $control-disabled-background-color;
    border-radius: 6pt;
    border: 1pt solid #aaaaaa;
    padding: 2pt;
}
.control_med {
    color: #000044;
    background-color: #ffffff;
    border-radius: 2pt;
    border: 1pt solid #eeeeee;
    padding: 0pt;
    font-size: small;
    font-weight: normal;
    font-style: normal;
}
.control_med.ison {
    color: #000000;
    background-color: #f8ffcc;
    border-radius: 2pt;
    border: 1pt solid #ffdd44;
    padding: 0pt;
    font-size: small;
    font-weight: bold;
    font-style: normal;
}
.control_med.disabled {
    color: #aaaaaa;
    background-color: #cccccc;
    border-radius: 2pt;
    border: 1pt solid #cccccc;
    padding: 0pt;
    font-size: small;
    font-weight: normal;
    font-style: italic;
}
.control_small {
    color: #000044;
    background-color: #ffffff;
    border-radius: 1pt;
    border: 0pt;
    padding: 0pt;
    font-size: x-small;
    font-weight: normal;
    font-style: normal;
}
.control_small.ison {
    color: #000000;
    background-color: #f8ffcc;
    border-radius: 1pt;
    border: 0pt;
    padding: 0pt;
    font-size: x-small;
    font-weight: bold;
    font-style: normal;
}
.control_small.disabled {
    color: #aaaaaa;
    background-color: #cccccc;
    border-radius: 1pt;
    border: 1pt solid #cccccc;
    padding: 0pt;
    font-size: x-small;
    font-weight: normal;
    font-style: italic;
}

