/* FACETS */

«facet:shape» ≤
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    border-radius: 3px;
    border: 2px solid #eeee77;
≥
«facet:highlight.text» ≤
    font-size: small;
    font-weight: normal;
    font-style: normal;
≥
«facet:normal.colors» ≤
    color: #000000;
    background-color: #ffffff;
≥
«facet:highlight.colors» ≤
    color: #000066;
    background-color: #bbffaa;
≥
«facet:off.colors» ≤
    color: #886666;
    background-color: #ffffff;
≥
«facet:single.shape» ≤
    border-radius: 3px;
≥
«facet:heading.text» ≤
    font-size: medium;
    font-weight: bold;
    font-style: italic;
≥
«facet:normal.text» ≤
    font-size: small;
    font-weight: normal;
    font-style: normal;
≥
«facet:stats.colors» ≤
    color: #aaaaaa;
    background-color: #ffffff;
≥
«facet:stats.text» ≤
    font-size: x-small;
    font-weight: normal;
    font-style: normal;
≥
div.•facet>div {
    font-size: small;
    «facet:normal.colors»
    «facet:normal.text»
    «facet:shape»
}
.•facet_single,.•facet_single_all {
    display: block;
    «facet:off.colors»
    «facet:normal.text»
    «facet:single.shape»
}
.•facet_single.•ison,.•facet_single_all.•ison {
    display: block;
    «facet:highlight.text»
    «facet:highlight.colors»
    «facet:single.shape»
}
div.•facet .•stats {
    «facet:stats.colors»
    «facet:stats.text»
}
div.•facet .•stats.•ison {
    «facet:stats.colors»
    «facet:stats.text»
}
.•passive_small {
    display: none;
}
.•passive_small.•ison {
    display: inline-block;
    «facet:highlight.text»
    «facet:highlight.colors»
    «facet:single.shape»
}
.•dctrl,.•all {
    clear: both;
    margin-bottom: 0pt;
    «facet:heading.text»
    «facet:normal.colors»
}
.•last_handled {
    background-color: #ffff88;
}

