/* FACETS */

«facet:shape» ≤
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    border-radius: 3px;
    border: 2px solid #eeee77;
≥
«facet:highlight.text» ≤
    font-size: x-small;
    font-weight: bold;
    font-style: normal;
≥
«facet:normal.colors» ≤
    color: #000000;
    background-color: #ffffff;
≥
«facet:normal.text» ≤
    font-size: small;
    font-weight: normal;
    font-style: normal;
≥
«facet:stats.colors» ≤
    color: #aaaaaa;
    background-color: #ffffff;
≥
«facet:stats.text» ≤
    font-size: x-small;
    font-weight: normal;
    font-style: normal;
≥


div.•facet>div {
    font-size: small;
    «facet:normal.colors»
    «facet:normal.text»
    «facet:shape»
}
div.•facet .•stats {
    «facet:stats.colors»
    «facet:stats.text»
}
div.•facet .•stats.•ison {
    «facet:highlight.text»
}
.•passive_small {
    display: none;
}
.•passive_small.•ison,.•flt_compact {
    display: inline;
    «facet:highlight.text»
}
.•dctrl,.•all {
    margin-bottom: 0pt;
}


