/* FACETS */
$facet-font-size: small;
$facet-font-weight: normal;
$facet-font-style: normal;
$facet-stats-font-size: x-small;
$facet-stats-font-weight: normal;
$facet-stats-font-style: normal;
$facet-color: #000000;
$facet-background-color: #ffffff;
$facet-on-color: #000066;
$facet-on-background-color: #bbffaa;
$facet-off-color: #886666;
$facet-off-background-color: #ffffff;
$facet-stats-color: #aaaaaa;
$facet-stats-background-color: #ffffff;
$facet-radius: 3px;

div.facet>div {
    font-size: small;
    color: $facet-color;
    background-color: $facet-background-color;
    font-size: $facet-font-size;
    font-weight: $facet-font-weight;
    font-style: $facet-font-style;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    border-radius: 3px;
    border: 2px solid #eeee77;
}
.facet_single,.facet_single_all {
    color: $facet-off-color;
    background-color: $facet-off-background-color;
    font-size: $facet-font-size;
    font-weight: $facet-font-weight;
    font-style: $facet-font-style;
    border-radius: $facet-radius;
}
.facet_single.ison,.facet_single_all.ison {
    font-size: $facet-font-size;
    font-weight: $facet-font-weight;
    font-style: $facet-font-style;
    color: $facet-on-color;
    background-color: $facet-on-background-color;
    border-radius: $facet-radius;
}
div.facet .stats {
    color: $facet-stats-color;
    background-color: $facet-stats-background-color;
    font-size: $facet-stats-font-size;
    font-weight: $facet-stats-font-weight;
    font-style: $facet-stats-font-style;
}
div.facet .stats.ison {
    color: $facet-stats-color;
    background-color: $facet-stats-background-color;
    font-size: $facet-stats-font-size;
    font-weight: $facet-stats-font-weight;
    font-style: $facet-stats-font-style;
}
.passive_small {
    display: none;
}
.passive_small.ison {
    display: inline;
    font-size: $facet-font-size;
    font-weight: $facet-font-weight;
    font-style: $facet-font-style;
    color: $facet-on-color;
    background-color: $facet-on-background-color;
    border-radius: $facet-radius;
}
.dctrl,.all {
    clear: both;
    margin-bottom: 0pt;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    color: $facet-color;
    background-color: $facet-background-color;
}
.last_handled {
    background-color: #ffff88;
}

