/* FILTER */

div.•flt{
    font-size: medium;
}
div.•flt input {
    font-weight: normal;
    font-size: small;
    width: 40%;
}
.•fbox {
    padding-left: 1em;
}
.•fbox span {
    display: inline;
}
.•fbox .•stats {
    float: right;
}
.•filtc {
    float: right;
}
.•value_list {
    width: 100%;
    font-size: x-small;
}
.devel {
    font-size: small;
    font-weight: bold;
    color: #0000bb;
    background-color: #ffff55;
}
html .ui-autocomplete {
    height: 100px;
}
.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
.•flt_pat {
    font-weight: normal;
    font-style: normal;
}
input.•flt_pat {
    font-family: Menlo, Courier New, Courier, monospace;
    font-weight: normal;
    font-style: normal;
}

