/* PAGE LAYOUT */

«generic:link» ≤
    color: #d45510;
    text-decoration: none;
≥
«generic:link.hover» ≤
    color: #d45510;
    text-decoration: underline;
≥
a {
    «generic:link»
}
a:active, a:hover: {
    «generic:link.hover»
}
.page-header {
    margin: 20pt 0 10pt 0;
}
.mastheader {
    display: none;
}

#middle, #left, #right {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
td {
    vertical-align: top;
}

