.•socialdrawer {
    opacity:.7;
    z-index:3000;
    background:#FFF;
    border:solid 1px #666;
    border-width: 1px 0 0 1px;
    height:20px;
    width:40px;
    position:fixed;
    bottom:0;
    right:0;
    padding:2px 5px;
    overflow:hidden;
    -webkit-border-top-left-radius: 12px;
    -moz-border-radius-topleft: 12px;
    border-top-left-radius: 12px;
    -moz-box-shadow: -3px -3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: -3px -3px 3px rgba(0,0,0,0.5);
    box-shadow: -3px -3px 3px rgba(0,0,0,0.5);
}
#•citeh {
    margin:2px 3px;
    text-shadow: 1px 1px 1px #FFF;
    color:#444;
    font-size:12px;
    line-height:1em;
}
.•socialdrawer td,.•socialdrawer th {
    width: 120px;
    text-align: center;
    border-left: 2px solid #888888;
    border-right: 2px solid #888888;
}
